<h3>Hey {{ adminName }},</h3>
<h4>You have been registered as an admin for {{companyName}}.</h4>
<div>
    Here is your login credential:
    <ul>
        <li>Email: {{adminEmail}}</li>
        <li>Password: {{adminPassword}}</li>
    </ul>
</div>