<h3>Hey {{ name }},</h3>
<h4>Welcome to ODC Exam Platfrom</h4>
<strong>You have been registered as {{role}} at ODC Exam Platform.</strong>
<div>
    Here is your login credential:
    <ul>
        <li>Email: {{email}}</li>
        <li>Password: {{password }}</li>
    </ul>
</div>